# --- Python ---
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Archivos generados por el Simulador ---
# Ignoramos las imágenes para no ensuciar el repositorio
*.png
*.jpg
# Ignoramos reportes de datos
*.csv
outputs/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db